In [22]:
import pandas as pd
data = pd.read_csv("https://data.wprdc.org/dataset/c6265ffb-c86e-4a2c-870b-1aaa0772c449/resource/14abb000-d066-4728-8ffa-227883d6c331/download/wage-or-salary-income-in-the-past-12-months-for-households.csv",
                  index_col='Id')
data.head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income
Id,,,,,,,
1,Allegheny Center,733.0,103.000000,462.0,94.000000,271.0,87.000000
2,Allegheny West,150.0,46.000000,120.0,40.000000,30.0,26.000000
3,Allentown,1138.0,152.751432,772.0,146.771932,366.0,109.389213
4,Arlington,685.0,105.366029,566.0,104.589674,119.0,44.452222
5,Arlington Heights,170.0,69.000000,96.0,58.000000,74.0,52.000000
6,Banksville,2002.0,224.986666,1596.0,226.477372,406.0,145.168867
7,Bedford Dwellings,684.0,63.000000,294.0,69.000000,390.0,77.000000
8,Beechview,3557.0,270.051847,2654.0,249.649755,903.0,162.154248
9,Beltzhoover,869.0,146.594679,586.0,117.187883,283.0,107.712581
10,Bloomfield,4640.0,215.506380,3789.0,223.385317,851.0,117.388245

So I have data about how many people are living in a neighborhood "With wage or salary income" and with "No wage or salary income".
I want to find the percentage of the population in a neighborhood that has an income.
I'm going to make a dataframe that holds values equivalent to the percentage of people with wage/salary income out of the whole population of that area. But first I'll start with calculating those percentages

In [30]:
percs = [0.0]*len(data.index)
i = 0
#iterate through the rows
for item in data.iterrows():
    try:#attempt to do the division
        percent = item[1][3]/item[1][1]
    except:#any errors will result in an assumed 0%
        percent = 0.0
    percs[i]=percent
    i+=1

So now I have an array with all the percentages (Total people with income)/(Total people in neighborhood)
Let's add it to the dataframe in a column called 'Percent with Income'

In [31]:
data['Percent with Income'] = percs
data.head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income,Percent with Income,Adjusted Percent with Income
Id,,,,,,,,,
1,Allegheny Center,733.0,103.000000,462.0,94.000000,271.0,87.000000,0.630286,0.502046
2,Allegheny West,150.0,46.000000,120.0,40.000000,30.0,26.000000,0.800000,0.533333
3,Allentown,1138.0,152.751432,772.0,146.771932,366.0,109.389213,0.678383,0.549410
4,Arlington,685.0,105.366029,566.0,104.589674,119.0,44.452222,0.826277,0.673592
5,Arlington Heights,170.0,69.000000,96.0,58.000000,74.0,52.000000,0.564706,0.223529
6,Banksville,2002.0,224.986666,1596.0,226.477372,406.0,145.168867,0.797203,0.684077
7,Bedford Dwellings,684.0,63.000000,294.0,69.000000,390.0,77.000000,0.429825,0.328947
8,Beechview,3557.0,270.051847,2654.0,249.649755,903.0,162.154248,0.746134,0.675949
9,Beltzhoover,869.0,146.594679,586.0,117.187883,283.0,107.712581,0.674338,0.539485
10,Bloomfield,4640.0,215.506380,3789.0,223.385317,851.0,117.388245,0.816595,0.768451

Now let's find the top 10 Neighborhoods in terms of income

In [32]:
data.sort_values('Percent with Income', ascending = False).head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income,Percent with Income,Adjusted Percent with Income
Id,,,,,,,,,
72,South Shore,8.0,9.000000,8.0,9.000000,0.0,10.000000,1.000000,-0.125000
32,Fairywood,457.0,85.000000,447.0,83.000000,10.0,16.000000,0.978118,0.796499
58,North Shore,141.0,36.400549,133.0,37.363083,8.0,15.620499,0.943262,0.678276
34,Friendship,1077.0,125.924581,972.0,142.688472,105.0,76.157731,0.902507,0.770020
31,Esplen,147.0,53.000000,129.0,54.000000,18.0,20.000000,0.877551,0.510204
55,Mt. Oliver,221.0,42.000000,193.0,42.000000,28.0,15.000000,0.873303,0.683258
81,Strip District,478.0,66.000000,417.0,72.000000,61.0,37.000000,0.872385,0.721757
20,Central Oakland,1918.0,152.676128,1658.0,157.946193,260.0,87.028731,0.864442,0.782093
68,Ridgemont,168.0,56.000000,141.0,51.000000,27.0,23.000000,0.839286,0.535714
82,Summer Hill,524.0,15.000000,439.0,38.000000,85.0,33.000000,0.837786,0.765267

So the neighborhoods that have the most people making money are:
1. South Shore
2. Fairywood
3. North Shore
4. Friendship
5. Esplen
6. Mt. Oliver
7. Strip District
8. Central Oakland
9. Ridgemont
10. Summer Hill

But if you notice, South shore only has 8 people, which has no real impact. So I'll have to account for margin of error. I'll subtract the margin of error from the totals (specifically for those with wage or salary income) and then divide it by the estimate total. This should make things a bit more accurate.

In [33]:
data['Adjusted Percent with Income']=data['Estimate; Total: - With wage or salary income'].sub(data['Margin of Error; Total: - With wage or salary income']).div(data['Estimate; Total:'])
data.sort_values('Adjusted Percent with Income', ascending = False).head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income,Percent with Income,Adjusted Percent with Income
Id,,,,,,,,,
32,Fairywood,457.0,85.000000,447.0,83.000000,10.0,16.000000,0.978118,0.796499
20,Central Oakland,1918.0,152.676128,1658.0,157.946193,260.0,87.028731,0.864442,0.782093
34,Friendship,1077.0,125.924581,972.0,142.688472,105.0,76.157731,0.902507,0.770020
10,Bloomfield,4640.0,215.506380,3789.0,223.385317,851.0,117.388245,0.816595,0.768451
82,Summer Hill,524.0,15.000000,439.0,38.000000,85.0,33.000000,0.837786,0.765267
64,Point Breeze,2348.0,149.080515,1921.0,138.054337,427.0,107.433700,0.818143,0.759347
69,Shadyside,7462.0,368.263493,6032.0,371.414862,1430.0,228.803409,0.808362,0.758588
73,South Side Flats,3452.0,285.392712,2853.0,284.534708,599.0,123.737626,0.826477,0.744051
90,Westwood,1514.0,118.827606,1255.0,130.873985,259.0,79.195959,0.828930,0.742487
81,Strip District,478.0,66.000000,417.0,72.000000,61.0,37.000000,0.872385,0.721757

So by my new metric of an adjusted percentage of the population with income, the Top Neighborhood in Pittsburgh is
# Fairywood

## Conclusion:

So to wrap this notebook up, I did a very straightforward analysis. I took in a dataset that listed the number of people that had a secure form of income (either wage or salary based). Then I accounted for the margin of error for the 'With wage or salary income' in a simple way by subtracting the margin of error from the total. This ensures a solid minimum number of people that are guaranteed to have income in each neighborhood, which I think is more important than estimating the maximum potential for the neighborhood. Every neighborhood needs a steady flow of income in order to grow and adapt to the needs of its people, and I think the best neighborhood should have the most income. It's representative of how industrious the citizens are, and I place high value on hard work and keeping a job. Furthermore, keeping a job shows responsibility and maturity which I also view as important.